# Environment variable overrides for local development
FLASK_APP=""bioc_webstats.app:create_app('Development')"
FLASK_DEBUG=1
FLASK_ENV=Development
#DATABASE_URL=sqlite:///dev.db
DATABASE_URL=postgresql://postgres:NUhuT2Kt0oHGKDmdbt2I@localhost:5431/webstats
GUNICORN_WORKERS=1
LOG_LEVEL=DEBUG
SECRET_KEY=not-so-secret
# In production, set to a higher number, like 31556926
SEND_FILE_MAX_AGE_DEFAULT=0

# AWS Roles
AWS_ROLE_WEBRUNNER=bioc-webstats-webrunner
AWS_ROLE_ETL=bioc-webstats-etl
