<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>

<HEAD>
    <TITLE>Download stats for Bioconductor {{ category_name }} packages</TITLE>
    <!-- TODO Use a jinja extends layout.html verb here. And make an appropriate layout.html -->
    <!-- TODO Styling doesn't match old production -->
    <style>
        BODY {
            font-family: sans-serif;
            font-size: 10pt;
        }

        H1 {
            font-size: 16pt;
        }

        H2 {
            font-size: 14pt;
            margin-top: 8px;
            margin-bottom: 4px;
        }

        H3 {
            font-size: 12pt;
            margin-top: 0px;
            margin-bottom: 4px;
        }

        H4 {
            font-size: 11pt;
            margin-top: 0px;
            margin-bottom: 4px;
        }

        TABLE.stats {
            border: solid black 1px;
        }
    </style>
</HEAD>

<BODY>
    <TABLE style="width: 100%; border-spacing: 0px; border-collapse: collapse;">
        <TR>
            <TD style="padding: 0px; text-align: right;">
                <I>See download stats for:</I>&nbsp;&nbsp;&nbsp;&nbsp;
                {% for ref, desc in category_links %}
                <I><A HREF="{{ ref }}.html">Bioconductor {{ desc }} packages</A></I>&nbsp;&nbsp;&nbsp;&nbsp;
                {% endfor %}
            </TD>
        </TR>
    </TABLE>
    <H1 style="text-align: center;">Download stats for Bioconductor {{ category_name }} packages</H1>
    <p> {{ url_list }} </p>
    <P style="text-align: center;">
        <I>Data as of {{ generated_date.strftime("%a. %d %b %Y") }}.</I>
    </P>
    <P>The number reported next to each package name is the <I>download score</I>, that is, the average number of
        distinct IPs that "hit" the package each month for the last 12 months (not counting the current month).</P>
    {% if top_count > 0 %}
    <HR>
    <H2>Top {{ top_count }}</H2>
    <table class="pkg_index">
        <tbody>
            <tr>
                <td style="vertical-align: top; width:300px;">
                    <!-- This double loop to create 3 top-to-bottom columns -->
                    {% set N = top|length // 3 %}
                    {% for i in range(N) %}
                <tr class="pkg_index">
                        {% for j in range(3) %}
                        {% set (package_name, package_score, package_rank)=top[i + j * N] %} <td
                            style="width:25px; text-align: right">{{ package_rank }}</td>
                        <td>
                            <a href="{{  category_url_stem }}/{{ package_name}}/">
                                {{ package_name}}&nbsp;({{ package_score }})
                            </a>
                        </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
    <hr>
    <h2>All {{ category_name }} packages</h2>
    {% endif %}
    <p>
        All {{ category_name }} package stats in one file:&nbsp;
        <a href="{{ category_url_stem }}/{{ tab_page_prefix }}_pkg_stats.tab">
            {{ tab_page_prefix }}_pkg_stats.tab
        </a>
    </p>
    <p>
        All {{ category_name }} download scores in one file:&nbsp;
        <a href="{{ category_url_stem }}/{{ tab_page_prefix }}_pkg_scores.tab">
            {{ tab_page_prefix }}_pkg_scores.tab
        </a>
    </p>
    <p style="text-align: center">
        <a href="{{ category_url_stem }}/index.html">
                See Download stats for Bioconductor {{ category_name }} repository (all packages combined)
        </a>
    </p>

        {% for letterkey, package_list in scores.items() %}
        <h3 style="font-family: monospace; font-size: larger;">{{ letterkey }}</h3>
        <table class="pkg_index">
            <tbody>
                <tr>
                    <td style="vertical-align: top; width:300px;">
                        <table>
                            <tbody>
                    <!-- This double loop to create 3 top-to-bottom columns -->
                    {% set N = package_list|length // 3 %}
                    {% for i in range(N) %}
                <tr class="pkg_index">
                        {% for j in range(3) %}
                        {% set (package_name, package_score, package_rank)=package_list[i + j * N] %}
                                        <td style="width:25px; text-align: right"></td>
                                        <td><a href="{{  category_url_stem }}/{{ package_name }}/">{{ package_name }}&nbsp;({{ package_score }})</a></td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        {% endfor %}
    </BODY>

</HTML>