[Unit]
Description=Waitress service for www-webstats
After=network.target

[Service]
WorkingDirectory=/home/ubuntu
EnvironmentFile=/home/ubuntu/flask_environment
ExecStart=/home/ubuntu/.venv/bin/python3 -m bioc_webstats.app_waitress

[Install]
WantedBy=multi-user.target
