# TODO Hard coded for standalone deployment
# usage:
#     sudo systemctl enable bioc-webstats.service
#     sudo systemctl start bioc-webstats.service
[Unit]
Description=bioc-webstats backend web server

[Service]
ExecStart=/home/ubuntu/bio-web-stats/start_gunicorn.sh

[Install]
WantedBy=multi-user.target
