[Unit]
Description=Gunicorn instance to serve www-webstats
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/var/www/bioc-webstats
# TODO Fix path to project
ExecStartPre=/bin/bash -c 'source /path/to/your/project/venv/bin/activate'
ExecStart=/path/to/venv/bin/python /path/to/yourproject/app.py
[Install]
WantedBy=multi-user.target
